@media screen and (max-width: 767px){
  .results a{
    width: 60%;
  }
}

@media screen and (min-width: 900px){
  .results a{
    width: 10%;
  }
}

.results{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.restartQuizz{
  height: 50%;
  width: 100%;
  all: unset;
  padding: 1em;
  background-color: #022829;
  border: 2px solid #67CECD;
  border-radius: 1em;
  font-size: 0.9em;
}

.results a{
  height: 2%;
  margin: 1em 0;
  justify-self: flex-start;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1000%;
  overflow-x: hidden;
	overflow-y: hidden;
  margin: 2em 0;
}
.scrollZone{
  display: flex;
  white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background: #022829;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: #67CECD;
  border-radius: 1em;
}
