@media screen and (max-width: 899px){
  .card{
    height: 33em;
    width: 18.5em;
    box-sizing: border-box;
  }
  .note{
    left: -9.3em;
  }
}

@media screen and (min-width: 900px){
  .card{
    height: 80%;
    width: 20.5em;
    box-sizing: border-box;
  }
  .note{
    left: -10.8em;
  }
}

.card {

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  align-items: center;

  background-color: #022829;

  border-radius: 1em;

  box-shadow: -1rem 0 1rem #001414;

/*   margin-left: -50px; */

  transition: 0.4s ease-out;

  position: relative;

  left: 0em;

  margin: 1em;

}

.cardImg{

  width: 100%;

  height: 50%;

  border-radius: 1em 1em 0 0;

  object-fit: cover;

  justify-content: flex-start;

  text-align: center;

  position: relative;

}

.gameTitle{
  margin: 1em 0;
  width: 80%;
  text-align: center;
  white-space: pre-wrap;
}

.card p {
  text-align: center;
  padding: 1em;
  height: 1em;
}

.platform{
  justify-self: flex-end;
}

/* .gameWishlist{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1em;
}
.gameWishlist p{
  height: 1em;
} */

.circle {
  position: relative;
  justify-self: center;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  left: calc(50% - 60px);
}

svg {

  fill: #17141d;

  stroke-width: 0.125em;

  width: 100%;

}

.stroke {

  stroke: #67CECD;
  stroke-dasharray: 324;
  stroke-dashoffset : 100;
  transition: 0.6s ease-out;
}

.note{
  position: relative;
  margin: 2.5em 0 0 0;
  word-spacing: 5rem;
}
