@media screen and (min-width: 0px){
  .card{
    height: 50em;
    width: 24em;
    box-sizing: border-box;
  }
  .card__title{
    margin: 1em 0 0 0;
  }
  .circle__rate{
    left: -6.3em;
    top: 1.3em;
  }
  .card__image{
    height: 50%;
    border-radius: 1em 1em 0 0;
  }
  svg{
    width: 100%;
  }
  .card__circle{
    width: 80%;
    height: 20%;
  }
  .list-img{
    width: 2.5em;
  }
  .card__platforms{
    font-size: 0.7em;
  }
}
@media screen and (min-width: 300px){
  .card{
    height: 48em;
    width: 24em;
    box-sizing: border-box;
  }
  .card__title{
    margin: 1em 0 0 0;
  }
  .circle__rate{
    left: -6em;
    top: 0;
  }
  .card__image{
    height: 50%;
    border-radius: 1em 1em 0 0;
  }
  svg{
    width: 100%;
  }
  .card__circle{
    width: 80%;
    height: 15%;
  }
  .list-img{
    width: 3em;
  }
}
@media screen and (min-width: 900px){
  .card{
    height: 40em;
    width: 20.5em;
    box-sizing: border-box;
  }
  .circle__rate{
    left: -7em;
  }
  .card__image{
    height: 50%;
    border-radius: 1em 1em 0 0;
  }
  svg{
    width: 100%;
  }
  .card__title{
    margin: 1em 0 0 0;
  }
  .card__circle{
    width: 100%;
    height: 20%;
  }
  .list-img{
    width: 2em;
  }
  .card__platforms{
    font-size: 0.6em;
  }
}
@media screen and (min-width: 1920px){
  .card{
    height: 40em;
    width: 30.5em;
    box-sizing: border-box;
  }
  .card:hover{
    .card__image{
      opacity: 0.2;
    }
    .card__title{
      opacity: 1;
    }
    .card__circle{
      opacity: 1;
    }
    .card__platforms{
      opacity: 1;
    }
    .card__lists{
      opacity: 1;
    }
  }
  .circle__rate{
    left: -12em;
  }
  .card__image{
    height: 100%;
    border-radius: 1em;
  }
  .card__title{
    position: absolute;
    z-index: 1;
    opacity: 0;
  }
  .card__circle{
    position: absolute;
    z-index: 1;
    top: 7em;
    opacity: 0;
    width: 100%;
    height: 20%;
  }
  .card__platforms{
    position: absolute;
    font-size: 1em;
    z-index: 1;
    top: 15em;
    opacity: 0;
  }
  .card__lists{
    position: absolute;
    opacity: 0;
    top: 25em;
  }
  .list-img{
    width: 100%;
  }
}
@media screen and (min-width: 2000px){
  .card{
    height: 100%;
    width: 35.5em;
    box-sizing: border-box;
  }
  .lists{
    position: absolute;
    opacity: 0;
    top: 30em;
  }
  .platforms{
    position: absolute;
    z-index: 1;
    top: 20em;
    opacity: 0;
  }
  .card__circle{
    position: absolute;
    z-index: 1;
    top: 7em;
    left: -4.5em;
    opacity: 0;
  }
  .circle__rate{
    left: -3.3em;
  }
  svg{
    width: 50%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #022829;
  border-radius: 1em;
  box-shadow: 0 0 1rem #001414;
  transition: 0.2s ease-out;
  position: relative;
  left: 0em;
  margin: 1em;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 1rem #ff9633;
}
.card:active{
  box-shadow: 0 0 0.2rem #ff9633;
}
.card__image{
  width: 100%;
  object-fit: cover;
  justify-content: flex-start;
  text-align: center;
  position: relative;
}
.card__title{
  width: 100%;
  text-align: center;
  white-space: pre-wrap;
  height: 2em;
}
.card p {
  text-align: center;
  padding: 1em;
  height: 1em;
}
.platform{
  justify-self: flex-end;
}
.listButton{
  all: unset;
  z-index: 1;
}
.lists__donelist:hover{
  content: url("../../../assets/images/ChecklistButtonDone.png");
  filter: drop-shadow(0 0 0.3rem #9EF4F3);
}

.lists__wishlist:hover{
  content: url("../../../assets/images/WishlistButtonCheck.png");
  filter: drop-shadow(0 0 0.3rem #9EF4F3);
}

.card__lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.lists__wishlist{
  width: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.lists__donelist{
  width: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.card__circle {
  
  justify-self: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

svg {
  fill: #17141d;
  stroke-width: 0.125em;
  position: relative;
  left: calc(50% - 60px);
}

.card__platforms{
  -webkit-line-clamp: 3;
}

.circle__stroke {
  stroke: #ff9633;
  stroke-dasharray: 324;
  stroke-dashoffset : 100;
  transition: 0.6s ease-out;
}

.circle__rate{
  position: relative;
  margin: 2.5em 0 0 0;
  word-spacing: 5rem;
}
