@media screen and (min-width: 1080px){
  .faq{
    padding-bottom: 28rem;
    height: 100%;
  }
}
@media screen and (min-width: 1921px){
  .faq{
    padding-bottom: 35rem;
    height: 80vh;
  }
}

.faq{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  overflow: auto;
}

.faq-main-title{
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

.faq-title{
  padding: 1rem 0;
}

