@media screen and (min-width: 200px){
  .profile-intel-label{
    width: 100%;
  }
  .profile-div{
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .profile-content{
    width: 80%;
    align-self: center;
  }
  .profile-content label {
    width: 100%;
  }
  .profile-intel{
    display: flex;
    flex-direction: column;
  }
  .submit-on{
    width: 100%;
    margin-top: 2em;
  }
  .profil-wishlist{
    margin-top: 2em;
  }
  .profile-gear-input{
    position: relative;
  }
}
@media screen and (min-width: 900px){
  .profile-intel-label{
    width: 16%;
  }
  .profile-intel{
    display: flex;
    flex-direction: row;
  }
  .profile-div{
    height: 80vh;
  }
  .profile-content{
    width: 60%;
  }
  .profile-content label {
    width: max-content;
  }
  .submit-on{
    width: 15%;
    margin-top: 3rem;
  }
  .profile-gear-input{
    position: absolute;
  }
}
.profile-div{
  background-color: #022829;
  border: 2px solid #67CECD;
  width: 100%;
  border-radius: 2em;
  margin: 1em 1em 0 1em;
  padding: 1em;
}

.profile-intel {
  justify-content: space-between;
  height: 40%;
}
.profile-intel-label {
  margin-bottom: 2rem;
}
.profile__title{
  text-align: center;
}
.profile-intel-div {
  width: 50%;
  height: 50%;
  position: relative;
}
.profile-intel-picture{
  width: 100%;
  object-fit: cover;
  object-position: left top;
  border: 0.2em solid;
  border-radius: 2em;
  padding: 0.3em;
}
.profile-gear-input {
  opacity: 0;
  z-index: -1;
}
.profile-content{
  display: flex;
  flex-direction: column;
}
.profile-content label {
  margin: 1rem;
}
.profile-content-email-input {
  all:unset;
}
.profile-content-password-input{
  all:unset;
  text-overflow: Ellipsis;
  overflow:hidden;
}
.profile-content-confirm-password-input{
  all:unset;
}
.profile-content-pseudo-input{
  all:unset;
}
.borderInput{
  border: 0.2em solid #67CECD;
  border-radius: 0.5em;
  padding: 0.3em;
}
.profile-content-password-input:focus, .profile-content-confirm-password-input:focus, .profile-content-pseudo-input:focus, .profile-content-email-input:focus{
  border: 0.2em solid #ff9633;
  border-radius: 0.5em;
  padding: 0.3em;
}
.submit-on {
  text-align: center;
  padding: .5em;
  background-color: #022829;
  border: 2px solid #67CECD;
  border-radius: 2rem;
  all:unset;
}
.submit-off{
  display: none;
}
.password-off{
  display: none;
}
.gear-button{
  background-color: #022829;
  width: 2rem;
  height: 2rem;
  all: unset;
  margin-left: 0.5em;
}
.gear{
  width: 2rem;
  height: 2rem;
}
.profil-wishlist{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.profil-wishlist p{
  width: max-content;
  height: max-content;
}
.scrollZoneWishlist{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
.profil-done{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.profil-done p{
  width: max-content;
  height: max-content;
}
.scrollZoneChecklist{
  width: 100%;
  height: 100%;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
.cardList {
  display: flex;
  width: 10em;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #022829;
  border-radius: 1em;
  box-shadow: 0 0 1rem #001414;
  transition: 0.2s ease-out;
  position: relative;
  left: 0em;
  margin: 1em;
}
.cardList:hover {
  box-shadow: 0 0 1rem #ff9633;
    .cardImg{
      opacity: 0.2;
    }
    .gamesTitleWishlist{
      opacity: 1;
    }
    .circle{
      opacity: 1;
    }
    .platforms{
      opacity: 1;
    }
}
.gamesTitleWishlist{
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 30%;
  width: 100%;
  white-space: break-spaces;
  text-align: center;
}
.cardList:active{
  box-shadow: 0 0 0.2rem #ff9633;
}

