@media screen and (max-width: 380px){
  .quizz{
    height: 63%;
  }
}

@media screen and (min-width: 380px){
  .quizz{
    height: 53%;
  }
}

@media screen and (min-width: 1080px){
  .quizz{
    height: 55%;
  }
}

.quizz{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2em;
  background-color: #022829;
  border: 2px solid #67CECD;
  width: 100%;
  border-radius: 2em;
  
  margin: 1em 0;
}
.quizz button{

  all: unset;
  width: 5em;
}

h2{
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.5em 0;
}
