@media screen and (min-width: 300px){
  .errorImage{
    padding-bottom: 5rem;
  }
}
@media screen and (min-width: 390px){
  .errorImage{
    padding-bottom: 18rem;
  }
}
@media screen and (min-width: 800px){
  .errorImage{
    padding-bottom: 35rem;
  }
}
@media screen and (min-width: 1080px){
  .errorImage{
    padding-bottom: 20rem;
  }
}
@media screen and (min-width: 1921px){
  .errorImage{
    padding-bottom: 35rem;
  }
}
