@media screen and (min-width: 900px){
  .about-us{
    padding-bottom: 29rem;
  }
}
@media screen and (min-width: 1921px){
  .about-us{
    padding-bottom: 25rem;
    height:65vh;
  }
}
.about-us{
  margin: 5rem auto;
  text-align: center;
  line-height: 1.5rem;
}
.about-us__content{
  margin-top: 2rem;
}
