@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Karmatic-Arcade';
  /*a name to be used later*/
  src: url('../assets/fonts/karmatic-arcade.regular.ttf');
}
@font-face {
  font-family: 'Press-Start';
  /*a name to be used later*/
  src: url('../assets/fonts/press-start.regular.ttf');
}
@font-face {
  font-family: 'Graph35';
  /*a name to be used later*/
  src: url('../assets/fonts/Graph-35-pix.ttf');
}
@media screen and (min-width: 200px) {
  body {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 290px) {
  body {
    font-size: 0.9em;
  }
}
body {
  font-family: 'Graph35';
  color: #9EF4F3;
  background-color: #001414;
  padding: 1em;
  height: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}
img{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}
