.app {
  display: flex;

  flex-wrap: wrap;

  flex-direction: row;

 /*  align-items: center;

  justify-content: center; */

  margin: 2em;

  /*border: 0.3em orangered solid;*/

  /*box-shadow:-15px 0 0 0 white,

              15px 0 0 0 white,

              0 -15px 0 0 white,

              0 15px 0 0 white;*/

  margin: auto;

  width: 80%;

  height: 80vh;

}

