@media screen and (min-width: 900px){
  .app{
    width: 90%;
  }
}
.app {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
