@media screen and (min-width: 300px){
  .infobulle:hover::after,
.infobulle:focus::after {
  content: attr(aria-label);  
  position: absolute;
  width: 1rem;
  font-size: 0.8rem;
  color: #ff9633;
  top: -2.4em;
}
}
@media screen and (min-width: 800px){
  .create-login-input {
    float: right;
  background-color: #001414;
  border: 2px solid #ff9633;
  width: 12rem;
  border-radius: 0.3em;
  margin-bottom: 2rem;
  padding: 1em;
  all: unset;
  }
}
@media screen and (min-width: 1080px){
  .create-login{
    padding-bottom:12rem;
  }
}

.div-page-create {
  width: 50%;
}

.create-login{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.create-login-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem;
}

.create-login-input {
  float: right;
  background-color: #001414;
  border: 2px solid #ff9633;
  width: 12rem;
  border-radius: 0.3em;
  margin-bottom: 2rem;
  padding: 1em;
  all: unset;
}

.create-login-submit {
  text-align: center;
  background-color: #022829;
  border: 2px solid #ff9633;
  margin-top: 2rem;
  width: 10em;
  height: 3rem;
  align-self: center;
  color: #ff9633;
  border-radius: 5rem;
  all: unset;
  cursor: pointer;
}

.create-login-error {
  font-size: .8rem;
  color: red;
}
.create-login-password-info{
  border: 1px solid;
  font-size: .5rem;
  padding: 0.2rem;
  border-radius: 50%;
}

.infobulle {
  border: 1px solid;
  font-size: .5rem;
  padding: 0.2rem;
  border-radius: 50%;
  position: relative;  
  cursor: help;
}

.infobulle:hover::after,
.infobulle:focus::after {
  content: attr(aria-label);  
  position: absolute;
  width: 25rem;
  font-size: 0.8rem;
  color: #ff9633;
  top: -2.4em;
  left: 50%;
  z-index: 1; 
}
