@media screen and (min-width: 1080px){
  .create-login{
    padding-bottom: 23rem;
  }
}
.create-login{
  display: flex;
  flex-direction: column;
}

.create-login-input {
  background-color: #001414;
  border: 2px solid #ff9633;
  width: 10rem;
  border-radius: 0.3em;
  margin: 0.8em 1em;
  padding: 1em;
  all: unset;
}

.create-login-submit {
  text-align: center;
  background-color: #022829;
  border: 2px solid #ff9633;
  margin-top: 2rem;
  width: 10em;
  height: 3rem;
  align-self: center;
  color: #ff9633;
  border-radius: 5rem;
  all: unset;
}
.create-login-error {
  
  color: red;
}
