@media screen and (min-width: 280px){
  .game{
    font-size: 0.7em;
    padding: 2em;
    margin-top: 3em;
    margin-bottom: 2em;
    height: 100%;
    justify-content: center;
  }
  .game ul{
    width: 100%;
  }
  .gameLeft{
    width: 100%;
    height: 40%;
    font-size: 0.8em;
    text-align: center;
  }
  .gameRight{
    width: 100%;
    height: 20vh;
    margin-top: 2em;
  }
  .gameImg{
    height: 40%;
    width: 100%;
  }
  .images{
    visibility: hidden;
    height: 0%;
    margin: 0;
  }
  .gameplay{
    width: 100%;
  }
}
@media screen and (min-width: 380px){
  .game{
    font-size: 1em;
    margin-top: 3em;
    padding: 2em;
    height: 100%;
    justify-content: center;
  }
  .gameTitle{
    width: 100%;
  }
  .game ul{
    width: 100%;
  }
  .gameLeft{
    width: 100%;
    height: 30%;
    font-size: 0.8em;
    text-align: center;
  }
  .gameRight{
    width: 100%;
    height: 20vh;
  }
  .gameImg{
    height: 20%;
    width: 80%;
  }
  .images{
    visibility: hidden;
    height: 0%;
    margin: 0;
  }
  .gameplay{
    width: 100%;
  }
}

@media screen and (min-width: 1024px){
  .gameImg{
    width: 90%;
  }
  .gameTitle{
    width: 12%;
  }
}

@media screen and (min-width: 1280px){
  .game{
    font-size: 0.8em;
    padding: 2.5em 2.5em 3.5em 2.5em;
    height: 69.5vh;
    justify-content: space-between;
  }
  .gameLeft{
    justify-self: flex-start;
    font-size: 1em;
    height: 65%;
    width: 30%;
  }
  .gameRight{
    width: 30%;
    height: 65%;
  }
  .gameImg{
    height: 75%;
    width: 25%;
  }
  .images{
    width: 100%;
    height: 25%;
    visibility: visible;
    margin: 1.5em 0 0 0;
    justify-content: center;
  }
  .gameplay{
    width: 20%;
  }
}

@media screen and (min-width: 1281px){
  .game{
    font-size: 1em;
  }
}


@media screen and (min-width: 2000px){
  .gameImg{
    width: 20%;
  }
}

.game{
  
  background-color: #022829;
  border: 2px solid #67CECD;
  width: 100%;
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
}

.gameImg{
  object-fit: cover;
  object-position: left top;
  border: #67CECD 0.1em solid;
  border-radius: 2em;
  margin:0 0.5em 0.5em 0.5em;
  order: 1;
}
.gameplay{
  margin: 0 1em;
  object-fit: cover;
  border-radius: 2em;
}
.images{
  justify-self: flex-end;
  display: flex;
  order: 4;
}

.gameRight{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: flex-end;
  order: 3;
  overflow-x: hidden;
	overflow-y: scroll;
}

.gameLeft{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  order: 3;
}

.game h3{
  font-weight: bold;
  margin: 1em 0 ;
  width: 40%;
}

.game ul{
  margin-bottom: 2em;
  width: 40%;
}

.gameLeft p{
  width: 40%;
}

.game ul li{
  display: inline;
  width: 40%;
}

.game ul li:before {
  content: ' ';
}

.game h2{
  text-align: center;
  margin-bottom: 2em;
  height: 1em;
  order: 2;
}

.pitch{
  overflow-x: hidden;
	overflow-y: scroll;
}

.returnResults{
  text-align: center;
  height: 50%;
  width: 20%;
  all: unset;
  padding: 1em;
  background-color: #022829;
  border: 2px solid #67CECD;
  border-radius: 1em;
  font-size: 0.9em;
  cursor: pointer;
}

.returnResultsButton{
  all: unset;
}
