@media screen and (min-width: 200px){
  .rightSide{
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

@media screen and (min-width: 300px){
  .rightSide{
    margin-bottom: 8em;
    margin-top: 1em;
  }
}

@media screen and (min-width: 380px){
  .rightSide{
    margin-bottom: 1em;
    margin-top: 4em;
  }
}

@media screen and (min-width: 540px){
  .rightSide{
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
  }
}

@media screen and (min-width: 768px){
  .rightSide{
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
  }
}

@media screen and (min-width: 1024px){
  .rightSide{
    margin-left: 15em;
    width: 30%;
  }
}

@media screen and (min-width: 1080px){
  .rightSide{
    margin-left: 20em;
    width: 40%;
  }
}

.rightSide{

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;

  flex-direction: row;

}

.rightSide label{

  height: 20%;

  width: 100%;

  margin: 1em 0;

}

.mascotte{

  animation-name: example;

  animation-duration: 1s;

  animation-iteration-count: infinite;

  animation-direction: alternate;

  position: relative;

  object-fit: contain;

  animation-timing-function: linear;

  width: 10em;

  margin-top: 3em;

  margin: 3em  auto 0 auto;
}



@keyframes example {

  0%   {top:-0.5em;}

  100% {top:0.5em;}

}



.progressionBar{

  margin: 1em 0;

  align-self: center;

  -webkit-appearance: none;

  width: 100%;

}

::-webkit-progress-value {

  background-color: #9EF4F3;

  border-radius: 0.2em;

}



::-webkit-progress-bar {

  background-color: #5D9393;

  border: #9EF4F3 1px solid;

  border-radius: 0.2em;

  box-shadow: #9EF4F3 0em 0em 0.2em 0.05em;

}

.progressBar{

  width: 100%;

  justify-self: center;

  justify-content: center;

  margin: 1em 0;

  align-self: center;

  display: flex;

  flex-direction: column;

}

.back{

  width: 100%;

}

.back:active {

  content: url("../../../assets/images/previousButtonPushed.png");

}

.restart{

  width: 100%;
}

.restart:active {

  content: url("../../../assets/images/RestartButtonPushed.png");

}

.root button{

  all: unset;
}
