.legal-notice{
  margin: auto ;
  text-align: left;
  line-height: 1.5rem;
  height: 80vh;
  overflow: auto;
}
.legal-notice-main-title{
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
}
.legal-notice-title {
  padding: 0.5rem;
}

.legal-notice-content {
  margin-top: 2.5em;
}
