.legal-notice{
  margin: auto ;
  text-align: left;
  line-height: 1.5rem;
  height: 80vh;
  overflow: auto;
}
.legal-notice__main-title{
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
}
.legal-notice__title {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.legal-notice__content {
  margin:1em;
}
