@media screen and (min-width: 380px){
  .userButton{
    width: 8%;
  }
  
}

@media screen and (min-width: 1080px){
  .userButton{
    width: 3%;
  }
}

.header{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.h1{

  width: 7em;
  font-size: 20px;
  margin: 0;
  text-align: center;
  font-family: 'Press-Start'; /*a name to be used later*/
  color: #67CECD;

}

.userButton_on{
  all: unset;
  padding: 0.3em;
  background-color: #022829;
  border: 2px solid #67CECD;
  border-radius: 1em;
  font-size: 0.9em;
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease-out, opacity 1.5s;
}

.userButton_off{
  all: unset;
  padding: 0.3em;
  background-color: #022829;
  border: 2px solid #67CECD;
  border-radius: 1em;
  font-size: 0.9em;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-out, opacity 0.5s;
}

.h1 img{
  width: 150%;
}

.login_on {
  position: fixed;
  top: -1em;
  right: -2em;
  width: 15rem;
  padding: 2em;
  margin: 3em;
  background-color: #022829;
  border: 2px solid #67CECD;
  border-radius: 1em;
  all: unset;
  opacity: 1;
  transition: all 0.8s ease-out, opacity 1.3s;
}
.login_on .login-button-plus{
  transition: font-size 1s;
}

.login_on .login-button-close{
  transition: width 1s;
}

.login_off {
  position: fixed;
  top: -1em;
  right: -2em;
  width: 0;
  background-color: #022829;
  border: 2px solid #67CECD;
  font-size: 0;
  border-radius: 1em;
  all: unset;
  opacity: 0;
  transition: all 0.8s ease-out, opacity 0.3s, font-size 1s;
}

.login_off .login-button-plus{
  font-size: 0;
  transition: font-size 1s;
}

.login_off .login-button-close{
  width: 0;
  transition: width 1s;
}

.login-email {
  background-color: #001414;
  border: 2px solid #67CECD;
  border-radius: 0.3em;
  width: 75%;
  margin: 0.8em 1em;
  padding: 1em;
  all: unset;
}
.login-password {
  background-color: #001414;
  border: 2px solid #67CECD;
  width: 75%;
  border-radius: 0.3em;
  margin: 0.8em 1em;
  padding: 1em;
  all: unset;
}
.login-button {
  background-color: #001414;
  border: 2px solid #67CECD;
  width: 40%;
  margin: 1em 1em 2em 1em;
  padding: 0.7em;
  border-radius: 0.3em;
  all: unset;
}

.login-button:hover {
  background-color: #67CECD;
  border: 2px solid #67CECD;
  color: #001414;
  margin: 1em 1em 2em 1em;
  padding: 0.7em;
  border-radius: 0.3em;
  all: unset;
  cursor: pointer;
}

.login-button-close{
  position: absolute;
  font-weight: bold;
  font-size: 1.3rem;
  width: 5%;
  top: 2%;
  right: 2%;
  background-color: #001414;
  border: 0.1em solid #67CECD;
  border-radius: 50%;
  color: #67CECD;
  text-align: center;
}

.login-button-close:hover {
  background-color: #67CECD;
  border: 0.1em solid #001414;
  border-radius: 50%;
  color: #001414;
}

.login-button-plus{
  transform: rotateZ(45deg);
  
}
