@use 'src/styles/vars';

.header{

  display: flex;

  flex-direction: row;

  align-items: center;

  justify-content: space-between;

}

.h1{

  width: 7em;

  font-size: 20px;

  margin: 0;

  text-align: center;

  font-family: 'Press-Start'; /*a name to be used later*/

  color: #67CECD;

}

.userButton{
  all: unset;
  padding: 1em;
  background-color: #022829;
  border: 2px solid #67CECD;
  border-radius: 1em;
  font-size: 0.9em;
}

.h1 img{

  width: 100%;

}
.userButton{

  justify-self: center;

}
