@media screen and (min-width: 200px){
  .footer{
    margin: 2em 0 0 0;
  }
}

@media screen and (min-width: 300px){
  .footer{
    margin: 10em 0 0 0;
  }
}

@media screen and (min-width: 380px){
  .footer{
    margin: 4em 0 0 0;
  }
}

@media screen and (min-width: 540px){
  .footer{
    margin: 9em 0 0 0;
  }
}

@media screen and (min-width: 550px){
  .footer{
    margin: 3em 0 0 0;
  }
}

.footer{
  display: flex;
  justify-content: center;
  text-align: center;

  align-items: center;

  align-self: flex-end;


}

.footer a{
  padding: 0 0.5em;
  margin: 0.5em;
  color: #67CECD;
  text-decoration: none;
}

.mid{
  border-left: 0.1em #67CECD solid;
  border-right: 0.1em #67CECD solid;
}
