@media screen and (min-width: 200px){
  .footer{
    margin: 2em 0 0 0;
  }
}
@media screen and (min-width: 300px){
  .footer{
    margin: 5em 0 0 0;
  }
}
@media screen and (min-width: 380px){
  .footer{
    margin: 4em 0 0 0;
  }
}
@media screen and (min-width: 540px){
  .footer{
    margin: 9em 0 0 0;
  }
}
@media screen and (min-width: 550px){
  .footer{
    margin: 3em 0 0 0;
  }
}
@media screen and (min-width: 900px){
  .footer{
    margin: 5em 0 0 0;
  }
}
@media screen and (min-width: 1920px){
  .footer{
    margin: 1em 0 0 0;
  }
}

.footer{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: flex-end;
}
.footer a{
  padding: 0 0.5em;
  margin: 0.5em;
  text-decoration: none;
  transition: all 0.2s ease-out, opacity 1.5s;
}
.footer a:hover{
  color: #ff9633;
}
.mid{
  border-left: 0.1em #67CECD solid;
  border-right: 0.1em #67CECD solid;
}
