.footer{

  display: flex;

  justify-content: center;

  text-align: center;

  align-items: center;

}

.footer a{

  padding: 0 0.5em;

  margin: 0.5em;

  color: #67CECD;
  text-decoration: none;

}

.mid{

  border-left: 0.1em #67CECD solid;

  border-right: 0.1em #67CECD solid;

}
